@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Book.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-BookItalic.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-BookItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Medium.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-MediumItalic.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Demi.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: MaisonNeue;
    src: url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-DemiItalic.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/maisonneue/MaisonNeue-DemiItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: LarishNeue;
    src: url("https://apps.publicintegrity.org/fonts//larishneue/larish_neue_semibold.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts//larishneue/larish_neue_semibold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: LarishNeue;
    src: url("https://apps.publicintegrity.org/fonts//larishneue/larish_neue_semibold_italic.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts//larishneue/larish_neue_semibold_italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Druk;
    src: url("https://apps.publicintegrity.org/fonts/druk/Druk-Medium-Web.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/druk/Druk-Medium-Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Druk;
    src: url("https://apps.publicintegrity.org/fonts/druk/Druk-MediumItalic-Web.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/druk/Druk-MediumItalic-Web.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: fallback
}

@font-face {
    font-family: Druk;
    src: url("https://apps.publicintegrity.org/fonts/druk/Druk-Bold-Web.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/druk/Druk-Bold-Web.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Druk;
    src: url("https://apps.publicintegrity.org/fonts/druk/Druk-BoldItalic-Web.woff2") format("woff2"), url("https://apps.publicintegrity.org/fonts/druk/Druk-BoldItalic-Web.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: fallback
}
